<div *ngFor="let peli of peliculas">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title [ngClass]="{ tachado: marcado == true }">{{
        peli.nombre
      }}</mat-card-title>
      <mat-card-subtitle>{{ peli.genero }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="peli.imagen" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <a [href]="peli.link">Información</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="marcar(peli, index)">MARCAR</button>
      <button mat-button (click)="marcar(peli, index)">DESMARCAR</button>
    </mat-card-actions>
  </mat-card>
  <br /><br />
</div>

<!-- <div *ngFor="let peli of peliculas">
  <pre>{{ peli | json }}</pre>
</div> -->
